---
import Base from "../layouts/Base.astro";
---
<Base title="uses">
  <section id="uses">
    <div class="container uses-container">
      <h1 class="page-title">uses</h1>

      <div class="uses-category">
        <h3>desk</h3>
        <ul>
          <li>thinkpad t14 gen2i</li>
          <li>keyboard hex.3c hhkb kang white switches retro keycaps</li>
          <li>mouse logitech mx ergo</li>
          <li>microphone fifine k668</li>
          <li>iem moondrop chu ii</li>
          <li>tws nothing ear (a)</li>
          <li>dretec t-584 timer</li>
        </ul>
      </div>

      <div class="uses-category">
        <h3>software</h3>
        <ul>
          <li>neovim</li>
          <li>obsidian</li>
          <li>anki</li>
          <li>kicad</li>
          <li>altium designer</li>
          <li>openocd</li>
          <li>bitwarden</li>
        </ul>
      </div>

      <div class="uses-category">
        <h3>stationery</h3>
        <ul>
          <li>uni kuru toga advance</li>
          <li>pentel aim 0.5hb</li>
          <li>pentel aim eraser</li>
          <li>uni-ball one pen</li>
          <li>kokuyo campus notebook</li>
        </ul>
      </div>
    </div>
  </section>
</Base>
